<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer"
         providerName="System.Data.SqlClient"
         connectionString ="Data Source =SQL2014.studentwebserver.co.uk;Initial Catalog=db_1526924_CO5027;Integrated Security=False; User ID=user_db_1526924_CO5027;Password=Che19930303;MultipleActiveResultSets=True"/>
  </connectionStrings>
  
    <system.web>
      <authentication mode="Forms"></authentication>
      <roleManager enabled="true"></roleManager>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  
</configuration>
